* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

.card {
  display: flex;
  width: 500px;
  gap: 4px;
  min-height: 200px;
  max-height: 500px;
  background-color: #94adcc;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
.result {
  width: 90%;
  margin-top: 20%;
  font-family: "Loto sans-serif", sans-serif;
  font-size: 2.5rem;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
  border-radius: 5px;
  background-color: gray;
}

.minus-button {
  width: 90px;
  padding: 2px;
  margin: 4px;
  position: relative;
  left: 23px;
  top: 20px;
  height: 55px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s ease;
  background-color: transparent;
  border-radius: 6px;
  background-color: red;
}

.plus-button {
  width: 90px;
  padding: 2px;
  margin: 4px;
  position: relative;
  left: 23px;
  top: 20px;
  height: 55px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.5s ease;
  background-color: transparent;
  border-radius: 6px;
  background-color: blue;
}

#root {
  flex: 1;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  background-color: #cdd9e7;
}

#app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px;
  border-bottom: 1px solid #000000;
  background-color: #94adcc;
  backdrop-filter: blur(17.8px);
}

#app-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app-footer {
  display: flex;
  margin: 20px;
  justify-content: center;
}
