* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app-header {
  text-align: center;
  padding: 20px;
  background-color: bisque;
}

#app-main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(243, 204, 156);
}

.bacground_img {
  width: 350px;
  height: auto;
  margin-right: 20px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  background-color: bisque;
  height: 350px;
  width: 300px;
}

.minus-button,
.plus-button {
  width: 200px;
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-size: 20px;
}

.minus-button:hover,
.plus-button:hover {
  transform: translateY(-3px);
  background-color: #3e8e41;
}

.minus-button:active,
.plus-button:active {
  background-color: #60be63;
}

.result {
  font-size: 24px;
  margin-top: 10px;
  width: 200px;
  font-family: "Loto sans-serif", sans-serif;
  font-size: 2.5rem;
  outline: none;
  margin-left: 20px;
  margin-right: 20px;
  text-align: right;
  border: 2px solid rgb(212, 187, 187);
}

#app-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  padding: 20px;
  background: linear-gradient(to top, #94adcc, #cdd9e7);
}
